@import "base/base";
@import "header";
@import "profile";
@import "feed";
@import "auth";
@import "alert";

// Base box styles
body {
  .container {
    height: 100%;
    position: relative;

    max-width: $app-width;
    margin: 0 auto;

    background: $color-white;
    padding: $space-medium;
  }
}


