if !!currentUserData
  .current-user
    .toggle
      h6.user__name= currentUserData.name
      img(src=currentUserData.photo_url)
    .drop
      ul
        li
          a(href='/'+currentUserData.id) Profile
        li
          a(href='/logout') Logout

