if messages.errors
  .alert.alert-danger
    span.close X
    for error in messages.errors
      div.message= error.msg
if messages.info
  .alert.alert-info
    span.close X
    for info in messages.info
      div.message= info.msg
if messages.success
  .alert.alert-success
    span.close X
    for success in messages.success
      div.message= success.msg
