doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    block content
  script(src='https://use.typekit.net/qmh2omm.js').
  script(type='text/javascript').
    try{Typekit.load({ async: true });}catch(e){}
