doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    include partials/header
    include partials/flash
    block content
    include partials/footer

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js').
  script(src='/scripts/follow.js').
  script(src='https://use.typekit.net/qmh2omm.js').
  script(type='text/javascript').
    try{Typekit.load({ async: true });}catch(e){}
